/* ===== BASIC-HEADER-FEATURE ===== */
.basic-header-feature {
    min-height: 132.8px;
    padding: 24px 0;
    margin: 0;
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #102a40;
    @include media-breakpoint-down(md) {
        min-height: 110px;
        font-size: 13px;
    }
    @include media-breakpoint-up(xl) {
        padding: 32px 0;
        font-size: 16px;
        line-height: 160%;
    }

    &::after {
        @include pseudo;
        width: 100vw;
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: 50%;
        z-index: -1;
        background: #102a40;
        transform: translateX(-50%);
        @include media-breakpoint-down(sm) {
            right: -16px;
            left: -16px;
            transform: none;
        }
    }

    h1 {
        margin: 0;
        font-family: $font-default !important;
        font-size: 32px;
        line-height: 1.25;
        font-weight: 400;
        letter-spacing: .015em;
        text-transform: uppercase;
        color: inherit !important;
        background: none !important;
        @include media-breakpoint-up(md) {
            font-size: 40px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 50px;
        }
    }

    p {
        margin-top: 10px;
        letter-spacing: .005em;
        @include media-breakpoint-up(md) {
            margin-top: 14px;
        }

        &:empty {display: none;}

        a {
            font-weight: 500;
            color: inherit;
            text-decoration: underline;
            text-underline-offset: .2em;
            text-decoration-line: underline;
            text-decoration-thickness: .05em;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

    hr {
        max-width: 80rem;
        padding: 0;
        border-top: 1px solid $color-white;
        margin: 8px auto;
        @include media-breakpoint-up(md) {
            border-width: 1.5px;
            margin-bottom: 18px;
        }

        & ~ .basic-header-feature-section {
            margin-top: 10px;
            margin-bottom: 0;
            @include media-breakpoint-up(md) {
                margin-top: 14px;
            }
        }
    }

    .content-wrapper {
        max-width: 640px;
        padding: 0;
        margin: 0 auto;
        @include media-breakpoint-up(lg) {
            max-width: 720px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 990px;
        }
        @include media-breakpoint-up(xlm) {
            max-width: 1300px;
        }
        @include media-breakpoint-up(xxl) {
            max-width: 1480px;
        }

        > p {
            margin-bottom: 0;
            line-height: 1.1em;
            @include media-breakpoint-up(xl) {
                font-size: 15px;
            }
        }
    }

    &-section {
        margin-bottom: 8px;
        display: block;
        font-size: 13px;
        line-height: 1em;
        font-family: $site-font;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .025em;
        color: $spray-ltst-blue;
        @include media-breakpoint-up(md) {
            font-size: 14px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 16px;
        }
    }

    &.prod-detail {
        padding: 3rem 0;
        @media #{$medium-up} { padding: 4rem 0; }
        @media #{$large-up} { padding: 5rem 0; }
        .content-wrapper {
            max-width: 100%;
            padding: 0 2rem;
            @media #{$medium-up} { padding: 0 4rem; }
            @media #{$xlarge-up} { padding: 0 8rem; }
        }
        .prod-detail-type {
            color: #2897dc;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1.75rem;
            text-transform: uppercase;
        }
        h1 {
            margin-bottom: 1.5rem;
            text-align: left;
            text-transform: none;
        }
    }

    .button-container {
        margin-top: 16px;
    }
}