/* ===== CARDS-CALLOUTS ===== */
.cards-callouts {
    padding: 3rem 0 3.5rem;
    position: relative;
    z-index: 1;
    font: 16px/1.5 $font-default;
    @include media-breakpoint-up(md) {
        padding: 4rem 0 4.5rem;
    }
    @include media-breakpoint-up(xl) {
        padding: 4.5rem 0 5rem;
    }

    &::after {
        @include pseudo;
        position: absolute;
        top: 0;
        right: -16px;
        bottom: 0;
        left: -16px;
        z-index: -1;
        background: white;
        @include media-breakpoint-up(sm) {
            width: 100vw;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.light-gray {
        &::after {background-color: $color-maui;}
    }

    .section-header {
        margin-bottom: 3rem;
        @include media-breakpoint-up(xl) {
            margin-bottom: 4rem;
        }

        small {
            margin-bottom: 8px;
            display: block;
            font-size: 14px;
            line-height: 120%;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .045em;
            color: $color-led-blue;
            @include media-breakpoint-up(xl) {
                margin-bottom: 20px;
                font-size: 16px;
            }
        }

        h1, h2, h3, h4, h5, h6 {margin: 0;}

        h2 {
            text-align: center;
        }

        br {display: none;}
        > p:last-child {margin-bottom: 0;}
    }

    &-grid {
        .generic-grid {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include media-breakpoint-up(md) {
                flex-direction: row;
                //justify-content: center;
            }

            &-item {
                &.quarter-width {
                    @include media-breakpoint-up(md) {
                        width: calc(50% - 12px);
                        flex-basis: calc(50% - 12px);
                        flex-grow: 0;
                    }
                    @include media-breakpoint-up(xl) {
                        width: calc(25% - 18px);
                        flex-basis: calc(25% - 18px);
                    }
                }
                &.half-width {
                    @include media-breakpoint-up(md) {
                        width: 100%;
                        flex-basis: 100%;
                        flex-grow: 0;
                    }
                    @include media-breakpoint-up(lg) {
                        width: calc(50% - 12px);
                        flex-basis: calc(50% - 12px);
                    }
                }
            }
        }

        &.divider {
            border-bottom: 2px dotted rgba(63, 96, 116, .2);
            margin-bottom: 3rem;
            @include media-breakpoint-up(md) {
                padding-bottom: 3rem;
                margin-bottom: 0;
            }
        }

        &.center-content {
            .generic-grid {
                justify-content: center;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            flex: 1;

            > a {
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1;
                text-decoration: none;
                transition: color $effect;
                outline: none;

                &:hover, &:focus {
                    .cards-callouts-grid-item-copy {
                        color: $color-night;
                        p::after {width: 100%;}
                    }
                    .cards-callouts-grid-item-callout-action {
                        color: $color-night;
                    }
                }
            }

            &-image {
                display: block;
                position: relative;

                img {
                    width: 100%;
                    max-width: none;
                    height: 38vw;
                    max-height: 200px;
                    border-radius: 4px 4px 0 0;
                    display: block;
                    position: relative;
                    z-index: 1;
                    object-fit: cover;
                    @include user-select;
                    @include user-drag;
                    @include media-breakpoint-down(xsm) {
                        min-height: 150px;
                    }
                    @include media-breakpoint-up(md) {
                        height: 170px;
                        max-height: none;
                        display: block !important;
                        object-fit: contain;
                    }
                }
            }

            &-title {
                margin: 0 0 10px;
                font-size: 18px;
                line-height: 21px;
                font-weight: 500;
                color: $color-night;
                @include media-breakpoint-up(xl) {
                    font-size: 21px;
                    line-height: 24px;
                }
            }

            &-callout-action {
                a {
                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                    position: relative;
                }

                i {
                    color: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    font-weight: inherit;
                }
            }

            .tag {
                padding: 3px 5px;
                margin-bottom: 10px;
                display: inline-block;
                font: 800 10px/14px $font-default;
                text-transform: uppercase;
                letter-spacing: .05em;
                color: white;
                background: $spray-blue;
                @include media-breakpoint-up(xl) {
                    padding: 4px 6px;
                    margin-bottom: 14px;
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            &.callout-copy, &.callout-copy-image {
                padding-left: 14px;
                position: relative;

                &::after {
                    @include pseudo;
                    width: 2px;
                    border-left: 2px dotted $spray-dk-blue-gray;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    opacity: .2;
                }

                .generic-grid {
                    flex-direction: row;
                    gap: 24px;
                    @include media-breakpoint-up(md) {
                        @include media-breakpoint-down(lg) {
                            flex-wrap: nowrap;
                        }
                    }

                    &-item {
                        &.flex-cell {
                            align-items: center;

                            &-a {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                @include media-breakpoint-up(md) {
                                    width: calc(50% - 12px);
                                }
                                @include media-breakpoint-up(xl) {
                                    width: calc(50% - 18px);
                                }
                            }

                            &-b {
                                @include media-breakpoint-up(md) {
                                    width: calc(50% - 12px);
                                }
                                @include media-breakpoint-up(xl) {
                                    width: calc(50% - 18px);
                                }
                            }
                        }

                        &.half-width {
                            .cards-callouts-grid-item-image {
                                @include media-breakpoint-up(xl) {
                                    //object-fit: cover;
                                }
                            }
                        }
                    }
                }

                .cards-callouts-grid-item-copy {
                    margin-bottom: 12px;
                    font-size: 14px;
                    line-height: 1.5;
                    color: $spray-dk-blue-gray;
                    transition: color $effect;
                    @include media-breakpoint-up(xl) {
                        font-size: 16px;
                    }

                    p {
                        margin: 0;
                        font-size: inherit !important;
                        line-height: inherit;
                        font-weight: inherit;

                        span {
                            font-size: inherit !important;
                        }
                    }
                }

                .cards-callouts-grid-item-image {
                    width: 100%;
                    max-height: 220px;
                    object-fit: cover;
                    @include media-breakpoint-down(md) {
                        max-height: 240px;
                    }
                    @include media-breakpoint-up(xl) {
                        //object-fit: fill;
                        object-fit: contain;
                    }
                }

                img.cards-callouts-grid-item-image {
                    @include media-breakpoint-down(md) {
                        aspect-ratio: 27/15;
                    }
                }

                .cards-callouts-grid-item-callout-action {
                    margin: 8px 0 0;
                    font-size: 14px;
                    line-height: 1.5;
                    font-weight: 600;
                    transition: color $effect;
                    @include media-breakpoint-up(xl) {
                        margin-top: auto;
                        margin-bottom: 6px;
                        font-size: 16.8px;
                        line-height: 21.6px;
                    }

                    .has-arrow::after {
                        margin-top: 1px;
                        margin-left: 4px;
                    }
                }
            }

            &.callout-with-title-image {
                padding-left: 0;
                border-radius: 4px;
                text-align: left;
                background: $color-white;
                box-shadow: 0 15px 30px -5px rgba($color-night, .1);
                @include media-breakpoint-up(md) {
                    @include media-breakpoint-down(lg) {
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
                @include media-breakpoint-up(xl) {
                    //flex-grow: 1 !important;
                }

                &::after {display: none;}

                > a[data-fancybox="data-fancybox"] {
                    .cards-callouts-grid-item-image {
                        &::before {
                            @include pseudo;
                            width: 70px;
                            height: 46px;
                            margin: auto;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 6;
                            opacity: 1;
                            transition: opacity $effect;
                            background: url("data:image/svg+xml,%3Csvg width='70' height='46' viewBox='0 0 70 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M69.9922 24.2826C69.9727 25.8709 69.917 27.4422 69.825 28.9964C69.7083 30.6393 69.5479 32.3643 69.3438 34.1714C69.1396 35.9786 68.8625 37.5119 68.5125 38.7714C68.1042 40.1952 67.3458 41.4274 66.2375 42.4679C65.1292 43.5083 63.8167 44.2202 62.3 44.6036C60.9583 44.9321 58.7854 45.1923 55.7812 45.3839C52.7771 45.5756 49.7292 45.7262 46.6375 45.8357C43.0208 45.9452 39.1417 46 35 46H31.4125C30.3042 46 29.0354 45.9863 27.6063 45.9589C26.1771 45.9315 24.675 45.8905 23.1 45.8357C23.1186 45.7964 23.137 45.757 23.1553 45.7175C20.1346 45.6087 17.1558 45.4605 14.2188 45.2732C11.2146 45.0815 9.04167 44.8214 7.7 44.4928C6.18333 44.1095 4.87083 43.3976 3.7625 42.3571C2.65417 41.3166 1.89583 40.0845 1.4875 38.6607C1.1375 37.4011 0.860417 35.8678 0.65625 34.0607C0.452083 32.2535 0.291667 30.5285 0.175 28.8857C0.0872763 27.4033 0.0325331 25.9055 0.0107704 24.3922C0.00717995 24.3936 0.00358983 24.395 0 24.3964V23C0 20.9738 0.0583362 18.975 0.175003 17.0036C0.29167 15.3607 0.452088 13.6357 0.656255 11.8286C0.860421 10.0214 1.1375 8.4881 1.4875 7.22857C1.89583 5.80476 2.65416 4.57262 3.7625 3.53214C4.87083 2.49167 6.18333 1.77976 7.7 1.39643C9.04167 1.06786 11.2146 0.807738 14.2188 0.616071C17.2229 0.424405 20.2708 0.27381 23.3625 0.164286C26.9792 0.0547619 30.8583 0 35 0C39.1417 0 43.0208 0.0547619 46.6375 0.164286C49.7292 0.27381 52.7771 0.424405 55.7812 0.616071C58.7854 0.807738 60.9583 1.06786 62.3 1.39643C63.8167 1.77976 65.1292 2.49167 66.2375 3.53214C67.3458 4.57262 68.1042 5.80476 68.5125 7.22857C68.8625 8.4881 69.1396 10.0214 69.3438 11.8286C69.5479 13.6357 69.7083 15.3607 69.825 17.0036C69.9417 18.975 70 20.9738 70 23V24.2857C69.9974 24.2846 69.9948 24.2836 69.9922 24.2826Z' fill='%23004B87'/%3E%3Cpath d='M27.9999 32.7475L46.1999 22.8903L27.9999 13.0332V32.7475Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center center;
                        }
                        &::after {
                            @include pseudo;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 5;
                            background: rgba($color-night, .25);
                            opacity: 1;
                            transition: opacity $effect;
                        }
                    }

                    &:hover, &:focus {
                        .cards-callouts-grid-item-image::after {opacity: 0;}
                    }
                }

                .cards-callouts-grid-item-title {
                    padding: 12px 16px;
                    border-radius: 4px 4px 0 0;
                    color: $light;
                    background: $spray-dk-blue;
                    @include media-breakpoint-up(md) {
                        font-size: 20px;
                        line-height: normal;
                    }

                    & + .cards-callouts-grid-item-image {
                        img {
                            @include media-breakpoint-up(xl) {
                                height: auto;
                                max-height: none;
                                border-radius: 0 0 4px 4px;
                            }
                        }
                    }
                }

                .cards-callouts-grid-item-copy {
                    padding: 16px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    @include media-breakpoint-up(md) {
                        padding: 24px;
                    }

                    p {
                        padding-bottom: 10px;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        font-size: 18px;
                        line-height: 1.5;
                        font-weight: 500;
                        letter-spacing: 0;
                        color: $color-night;

                        &::after {
                            @include pseudo;
                            width: 85px;
                            height: 8px;
                            //margin-top: 10px;
                            margin-top: auto;
                            position: relative;
                            top: 10px;
                            background: $color-forest-green;
                            transition: width .5s ease;
                        }
                    }
                }
            }

            &.callout-alt {
                padding-left: 0;

                > a {
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    &:hover, &:focus {
                        .callout-alt-wrapper {background-color: $color-led-blue;}
                    }
                }

                .callout-alt-wrapper {
                    width: 100%;
                    height: 100%;
                    padding: 16px;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: white;
                    background: $color-navy;
                    transition: background-color $effect;
                    @include media-breakpoint-up(md) {
                        padding: 24px;
                    }
                    @include media-breakpoint-up(xl) {
                        padding: 24px 36px;
                    }

                    .cards-callouts-grid-item-title {
                        margin-bottom: 8px;
                        font-size: 18px;
                        line-height: 21px;
                        font-weight: 500;
                        color: inherit;
                        @include media-breakpoint-up(xl) {
                            margin-bottom: 10px;
                            font-size: 21px;
                            line-height: 24px;
                        }
                    }

                    [class^=icon-], [class*=" icon-"] {
                        font-size: 50px;
                        @include media-breakpoint-up(md) {
                            font-size: 80px;
                        }
                    }

                    .cards-callouts-grid-item-copy {
                        margin-bottom: 8px;
                        font-size: 15px;
                        line-height: 1.3;
                        font-weight: 500;
                        color: inherit;
                        @include media-breakpoint-up(xl) {
                            margin-bottom: 14px;
                        }

                        p:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .cards-callouts-grid-item-callout-action {
                        margin-top: 0;
                        margin-bottom: 0;

                        .button-light-blue {
                            color: $color-navy !important;
                            background: white;
                            box-shadow: none;
                            &:hover, &:focus {
                                background: $color-maui;
                            }
                        }
                    }
                }
            }
        }
    }

    // TEEJET
    .theme-teejet & {
        padding-top: 40px;
        padding-bottom: 40px;
        //margin-bottom: 6rem;
        @include media-breakpoint-up(md) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 90px;
            padding-bottom: 88px;
            //margin-bottom: 9rem;
        }

        &::after {
            background: rgba(#1a679f, .1);
        }

        .section-header {
            margin-bottom: 38px !important;

            h5 {
                margin-bottom: 12px;
                display: block;
                font-size: 13px;
                line-height: 1.5;
                font-weight: 500;
                letter-spacing: .025em;
                color: $color-led-blue;
                text-transform: uppercase;
                @include media-breakpoint-up(md) {
                    font-size: 14px;
                }
                @include media-breakpoint-up(xl) {
                    margin-bottom: 17px;
                    font-size: 16px;
                    letter-spacing: .05em;
                }
            }

            h2 {
                margin-bottom: 0 !important;
                color: $color-night;
            }
        }

        .cards-callouts-grid {
            @include media-breakpoint-down(md) {
                max-width: 382px;
                margin-right: auto;
                margin-left: auto;
            }
            @include media-breakpoint-up(md) {
                flex-wrap: wrap;
            }
            @include media-breakpoint-up(xl) {
                flex-wrap: nowrap;
            }

            &-item {
                display: flex;
                background: $color-white;
                box-shadow: 0 20px 50px -5px rgba(63, 96, 116, .15);

                & > a {
                    width: 100%;
                    padding: 24px;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &::before {
                        @include pseudo;
                        width: calc(100% + 48px);
                        border-radius: 4px 4px 0 0;
                        margin: -24px -24px 28px;
                        height: 170px;
                        background: $color-navy no-repeat center center / 64px auto;
                    }
                    &[href*='.pdf']::before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1920'%3E%3Cg fill-rule='evenodd'%3E%3Cpath fill='%23fff' d='M1251.654 0c44.499 0 88.207 18.07 119.718 49.581l329.223 329.224c31.963 31.962 49.581 74.54 49.581 119.717V1920H169V0Zm-66.183 112.941H281.94V1807.06h1355.294V564.706H1185.47V112.94Zm112.94 23.379v315.445h315.445L1298.412 136.32Z'/%3E%3Cpath fill='%23fff' d='M900.497 677.67c26.767 0 50.372 12.65 67.991 37.835 41.901 59.068 38.965 121.976 23.492 206.682-5.308 29.14.113 58.617 16.263 83.125 22.814 34.786 55.68 82.673 87.981 123.219 23.718 29.93 60.198 45.854 97.13 40.885 23.718-3.276 52.292-5.986 81.656-5.986 131.012 0 121.186 46.757 133.045 89.675 6.55 25.976 3.275 48.678-10.165 65.506-16.715 22.701-51.162 34.447-101.534 34.447-55.793 0-74.202-9.487-122.767-24.96-27.445-8.81-55.906-10.617-83.69-3.275-55.453 14.456-146.936 36.48-223.284 46.983-40.772 5.647-77.816 26.654-102.438 60.875-55.454 76.8-106.842 148.518-188.273 148.518-21.007 0-40.32-7.567-56.244-22.701-23.492-23.492-33.544-49.581-28.574-79.85 13.778-92.95 128.075-144.79 196.066-182.625 16.037-8.923 28.687-22.589 36.592-39.53l107.86-233.223c7.68-16.377 10.051-34.56 7.228-52.518-12.537-79.059-31.06-211.99 18.748-272.075 10.955-13.44 26.09-21.007 42.917-21.007Zm20.556 339.953c-43.257 126.607-119.718 264.282-129.996 280.32 92.273-43.37 275.916-65.28 275.916-65.28-92.386-88.998-145.92-215.04-145.92-215.04Z'/%3E%3C/g%3E%3C/svg%3E");}
                    &[href*='youtube']::before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 1920'%3E%3Cpath fill-rule='evenodd' fill='%23fff' d='M0 240v1440h1500.536v-438.89L1920 1574.062V346.051L1500.536 678.89V240H0Zm109.779 109.779h1280.979v556.348l177.995-141.29 241.468-191.66v773.646l-241.468-191.549-177.995-141.29v556.236H109.778V349.78Z'/%3E%3C/svg%3E");}

                    &:hover {
                        .cards-callouts-grid-item-title::after {
                            width: 100%;
                        }
                    }
                }

                & > .generic-grid, & > a > .generic-grid {
                    width: 100%;
                    flex-direction: column-reverse;
                    gap: 0;
                    flex: 1;

                    .generic-grid-item {
                        width: 100% !important;

                        &.flex-cell-a {
                            padding: 28px 24px 24px;
                            flex: 1;
                        }
                        &.flex-cell-b {
                            border-radius: 4px 4px 0 0;
                            flex: 0;
                            background: $color-navy;

                            img {
                                @include user-select;
                            }
                        }
                    }
                }

                .tag {
                    display: none !important;
                }

                &.half-width > a {
                    padding: 0 !important;
                    &::before {display: none;}
                }

                .cards-callouts-grid-item-title {
                    margin-right: auto;
                    margin-bottom: 42px;
                    font-size: 21px;
                    line-height: 25px;
                    display: inline;
                    position: relative;
                    justify-self: flex-start;
                    @include media-breakpoint-up(md) {
                        min-height: 48px;
                    }

                    &::after {
                        @include pseudo;
                        width: 80px;
                        height: 8px;
                        margin-top: 17px;
                        display: block;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: $color-forest-green;
                        transition: width .4s ease;
                    }
                }

                &.callout-copy-image, &.callout-copy {
                    .cards-callouts-grid-item-image {
                        height: 170px;
                        max-height: 170px;
                        border-radius: 4px 4px 0 0;
                        object-fit: cover;
                    }
                    .cards-callouts-grid-item-copy {
                        margin-bottom: 14px;
                        color: $color-night;
                        letter-spacing: .005em;
                        span {color: inherit !important;}
                    }
                    .cards-callouts-grid-item-callout-action {
                        margin-top: auto;
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: .02em;
                        @include media-breakpoint-up(xl) {
                            font-size: 15px;
                            line-height: 19px;
                            letter-spacing: .03em;
                        }

                        .has-arrow::after {
                            margin-top: 1px;
                            margin-left: 4px;
                            font-weight: 500;
                        }
                    }
                }

                &-copy {
                    p {
                        margin-bottom: 20px !important;
                        &:last-child {margin-bottom: 0 !important;}
                    }

                    .fa-ul {
                        margin: 0 !important;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px;
                        font-weight: 600;

                        .fa-li {display: none !important;}

                        li {
                            width: calc(50% - 12px);
                            margin: 0 !important;
                        }

                        a {
                            &:hover, &:focus {
                                color: $color-night;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .generic-grid {
                justify-content: flex-start !important;
                @include media-breakpoint-up(md) {
                    @include media-breakpoint-down(xl) {
                        justify-content: center !important;
                    }
                }

                &-item {
                    padding-left: 0;
                    display: flex;
                    justify-content: flex-start;
                    flex: 1;
                    &::after {display: none;}
                    @include media-breakpoint-up(md) {
                        max-width: 382px;
                        flex-basis: calc(50% - 12px);
                        flex-grow: 0;
                    }
                    @include media-breakpoint-up(xl) {
                        &, &.quarter-width, &.half-width {
                            flex-basis: calc(33.3% - 16px) !important;
                        }
                    }
                    @include media-breakpoint-up(xlm) {
                        &, &.quarter-width, &.half-width {
                            flex-basis: calc(25% - 18px) !important;
                        }
                    }

                    &.half-width {
                        @include media-breakpoint-up(xl) {
                            flex-basis: calc(25% - 18px);
                        }
                    }
                }
            }
        }
    }
}