/* ===== CTA-BAR ===== */
.cta-bar {
    margin: 0 0 4rem;
    background: $color-navy;
    @include media-breakpoint-up(md) {
        margin-bottom: 5rem;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 6rem;
    }

    &.bottom-0 {
        margin-bottom: 0 !important;
    }

    .cta-content {
        width: 100%;
        padding: 40px 16px;
        border-radius: 4px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        font: 16px/1.5556 $font-default;
        letter-spacing: .015em;
        text-align: center;
        color: white;
        background: $color-navy;
        @include media-breakpoint-up(md) {
            padding: 24px 30px 45px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 1040px;
            padding-top: 39px;
            padding-bottom: 60px;
            font-size: 18px;
        }

        &::before, &::after {
            @include pseudo;
            width: 100vw;
            position: absolute;
            top: 0;
            right: auto;
            bottom: 0;
            left: 50%;
            z-index: -1;
            background: $color-navy;
            transform: translateX(-50%);
            box-shadow: 0 10px 20px -5px rgba(63, 96, 116, .15);
            @include media-breakpoint-down(sm) {
                width: auto;
                right: -16px;
                left: -16px;
                transform: none;
            }
        }
        &::after {
            background: $color-navy url('/en-gb/-/media/dam/agricultural/usa/website-images/teejet-spraycms-images/boom-components_main_tjweb.jpg') no-repeat center center / cover;
            background-blend-mode: soft-light;
            opacity: .3;
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: inherit;
            line-height: inherit;
            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
        }
    }

    &-copy {
        margin: 0 auto;
        display: block;
        font: bold 21px/1.2 $font-default !important;
        letter-spacing: .01em;
        color: white !important;
        text-align: center;
        @include media-breakpoint-up(md) {
            margin: 0 auto;
            font-size: 25px !important;
        }
        @include media-breakpoint-up(xl) {
            font-size: 28px !important;
            line-height: 32.8px !important;
        }

        &:empty {display: none !important;}

        & + p {
            margin-top: 16px;
            @include media-breakpoint-up(md) {
                margin-top: 20px;
            }
            @include media-breakpoint-up(xl) {
                margin-top: 34px;
            }

            ~ p {
                margin-top: 8px;
                @include media-breakpoint-up(md) {
                    margin-top: 16px;
                }
                @include media-breakpoint-up(xl) {
                    margin-top: 27px;
                }
            }
        }

        body & {
            font-size: 21px !important;
            @include media-breakpoint-up(md) {
                font-size: 25px !important;
            }
            @include media-breakpoint-up(xl) {
                font-size: 28px !important;
            }
        }
    }
    /*
<div class="cta-content">
<span class="cta-bar-copy">Career Opportunities</span>
<p>We're always interested in creative, energetic and motivated people to join our team. Positions in our sales, marketing, engineering, manufacturing, customer service, application support, information services, and accounting groups may be available at our locations in the US as well as facilities in other countries.</p>
<p>Please send your resume and a brief message explaining why you'd be a great addition to the TeeJet family.</p>
<a href="/about-us/dealer-and-distributor-locations" class="cta-bar-button">Apply Now</a>
</div>
     */

    &-button, .scTextWrapper {
        min-width: 0;
        padding: 14px 32px;
        border: 1px solid white;
        border-radius: 4px;
        display: inline-block;
        font: 600 14px/18px $font-default;
        letter-spacing: .025em;
        color: $color-white !important;
        text-transform: none;
        background: rgba(white, .35);
        box-shadow: 0 9px 11px -5px rgba(63, 96, 116, .2), inset 0px -3px 0px rgba(black, .15);
        transition: background-color $effect;
        @include media-breakpoint-up(xss) {
            padding-right: 32px;
            padding-left: 32px;
        }
        @include media-breakpoint-up(md) {
            padding: 18px 40px;
            margin-top: 21px;
            letter-spacing: .055em;
        }
        @include media-breakpoint-up(xxl) {
            padding-right: 54px;
            padding-left: 54px;
        }

        body & {
            font-size: 14px !important;
        }

        &:hover, &:focus {
            text-decoration: none;
            background: rgba(white, .5);
        }
    }

    /*
    .main-content.contact & {
        margin-top: 40px;
        margin-bottom: 40px;
        @include media-breakpoint-up(md) {
            margin-top: 60px;
            margin-bottom: 60px;
        }
        @include media-breakpoint-up(xl) {
            margin-top: 88px;
            margin-bottom: 88px;
        }

        .cta-bar-copy:empty {
            display: none;
        }
    }
     */
}