/* ===== USE-CASES ===== */
.use-cases {
    width: 100%;
    padding: 0 !important;
    margin: 0 0 40px !important;
    list-style: none !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    font-size: 14px;
    line-height: 18px;
    @include media-breakpoint-up(md) {
        margin-bottom: 60px !important;
        font-size: 16px;
        line-height: inherit;
        justify-content: space-between;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 86px !important;
    }

    li {
        min-width: 100px;
        flex: 0;
        color: $spray-dk-blue-gray;
        text-align: center;
    }

    strong {
        display: block;
        color: $dark;
    }

    img {
        max-width: 60px !important;
        aspect-ratio: 1/1;
        margin: 0 auto 11px;
        display: block;
        object-fit: cover;
        @include user-select;
        @include media-breakpoint-up(md) {
            max-width: none !important;
        }
    }
}