/* ===== PRODUCT ===== */
.product {
    margin: 24px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include media-breakpoint-up(sm) {
        margin-top: 40px;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: 60px;
    }
    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }
    @include media-breakpoint-up(xl) {
        margin-top: 60px;
        gap: 42px;
    }
    @include media-breakpoint-up(xl) {
        margin-top: 88px;
        margin-bottom: 65px;
    }

    &-gallery {
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
        @include media-breakpoint-up(xxl) {
            width: 788px;
            flex: 0 0 788px;
        }

        &-big {
            padding: 0;
            margin: 0;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: auto;
                aspect-ratio: 788/719;
                display: block;
                position: relative;
                z-index: 1;
                @include user-select;
            }

            figcaption {
                text-align: center;
                display: block;
                font-size: 12px;
                line-height: 14px;
                color: $spray-dk-blue-gray;
                position: absolute;
                right: 10%;
                bottom: 6px;
                left: 10%;
                z-index: 2;
                cursor: default;
                @include user-select;
                @include media-breakpoint-up(md) {
                    font-size: 14px;
                    line-height: 16px;
                    bottom: 10px;
                }
                @include media-breakpoint-up(xl) {
                    bottom: 23px;
                    font-size: 16px;
                    line-height: 19px;
                }

                strong {
                    margin-bottom: 2px;
                    color: $dark;
                    display: block;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 4px;
                    }
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }

    &-description {
        @include media-breakpoint-down(md) {
            br + br {display: none;}
        }
        @include media-breakpoint-up(lg) {
            width: 50%;
        }

        small {
            margin-bottom: 12px;
            display: block;
            font-size: 13px;
            line-height: 160%;
            font-weight: 500;
            letter-spacing: .025em;
            color: $spray-blue;
            text-transform: uppercase;
            @include media-breakpoint-up(md) {
                font-size: 14px;
            }
            @include media-breakpoint-up(xl) {
                margin-bottom: 17px;
                font-size: 16px;
                letter-spacing: .05em;
            }
        }

        h2 {
            margin-bottom: 20px !important;
            letter-spacing: .007em;
            @include media-breakpoint-up(md) {
                margin-bottom: 30px !important;
            }
            @include media-breakpoint-up(xxl) {
                margin-bottom: 38px !important;
            }
        }

        h4 {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: normal;
            font-weight: normal;
            letter-spacing: .005em;
            text-transform: uppercase;
        }

        ul {
            margin-bottom: 14px;
            line-height: 1.2em;
            letter-spacing: .0075em;
            @include media-breakpoint-up(xxl) {
                padding-inline-start: 37px;
            }

            li + li {
                margin-top: 15px;
            }
        }
    }

    &-features {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 30px !important;
        list-style: none;
        @include media-breakpoint-up(md) {
            margin-bottom: 40px !important;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 70px !important;
            padding-inline-start: 0 !important;
        }

        li {
            padding-left: 37px;
            position: relative;

            img {
                max-width: 21.6px;
                max-height: 21.6px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: contain;
                object-position: center;
                @include user-select;
            }
        }
    }

    &-options {
        padding: 0 !important;
        margin: 0 !important;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 12px 16px;
        @include media-breakpoint-up(xl) {
            max-width: 560px !important;
        }
        @include media-breakpoint-up(xxl) {
            margin-top: -4px !important;
            gap: 12px 56px;
        }

        li {
            margin-top: 0 !important;
            white-space: nowrap;
            flex: 1;
            @include media-breakpoint-up(md) {
                min-width: 260px;
            }
            @include media-breakpoint-up(lg) {
                min-width: 200px;
            }
            @include media-breakpoint-up(xl) {
                min-width: auto;
            }

            a {
                padding: 19px;
                border: 1px solid transparent;
                border-radius: 4px;
                display: block;
                color: #6f6f6f;
                text-align: center;
                text-decoration: none;
                transition: color $effect;

                &:hover {
                    color: $color-black;
                }
            }

            &.active a {
                border-color: $color-led-blue;
                color: $color-led-blue;
            }
        }
    }
}