.contact-thanks {
    .thank-you-button {
        margin: 2rem auto 0;
        text-align: center;
        @media #{$medium-up}{margin: 3.5rem auto 0;}
        @media #{$large-up}{margin: 4.5rem auto 0;}
    }
}