.mega-menu {
    @include media-breakpoint-down(xl) {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .02em;

        /*
        .navbar {
        }

        .menu-container {
            background: #fff;
            position: absolute;
            top: 4.4em;
            left: 0;
            width: 100%;
            overflow-y: hidden;
            transition: 0.3s ease-in-out;
        }

        li {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: .02em;
            position: relative;
        }

        li > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5em;
        }

        .menu li {
            padding: 0 1em;
            font-size: 1em;
            font-weight: 400;
        }

        .menu a {
            display: block;
            margin: 0.8em 0;
        }
         */

        .menu {
            display: none;
        }

        /* Toggle class for Javascript */
        .menu-show {
            display: block;
        }

        .mega-menu-icon-arrow {
            transition: 0.3s;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath stroke='%2300ABE5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M14.25 6.75 9 12 3.75 6.75'/%3E%3Cpath stroke='%23242F37' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M14.25 6.75 9 12 3.75 6.75'/%3E%3C/svg%3E") no-repeat center center !important;
            width: 18px;
            height: 18px;
            margin: auto;
            position: absolute;
            right: 20px;
        }
        /* Toggle class for javascript */
        .mega-menu-icon-rotated {
            transform: rotate(180deg);
        }

        .dropdown > div, .sub-dropdown > div {
            cursor: pointer;
            padding: 0.5em;
        }

        .dropdown {
            position: relative;

            > div {
                padding: 17px 16px;
            }
        }

        .dropdown::after {
            @include pseudo;
            height: 1px;
            overflow: hidden;
            position: absolute;
            right: 16px;
            bottom: 0;
            left: 16px;
            background: #f3f4f6;
        }

        .sub-menu {
            font-size: 0.9em;
            display: none;
        }
        /* Toggle class for Javascript */
        .sub-menu-show {
            display: block;
        }

        /*
        .dropdown:hover > div, .sub-dropdown:hover > div {
            background: #dbdbdb;
        }
         */

        /* Hide menu */
        .mega-menu-container {
            height: 0;
        }
        /* Toggle class for javascript */
        .mega-menu-show {
            height: 50vh;
        }
    }
    @include media-breakpoint-up(xl) {
        display: flex;

        .navbar {
            padding: 0 1.5em;
        }

        .menu {
            width: 100%;
            height: 0;
            padding: 30px;
            position: absolute;
            top: 4.65em;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 2em;
            overflow-y: scroll;
            background: $color-white;

            &::-webkit-scrollbar {width: 8px;}
            &::-webkit-scrollbar-track {background: #f1f1f1;}
            &::-webkit-scrollbar-thumb {background: #888;}
            &::-webkit-scrollbar-thumb:hover {background: #555;}
        }

        .dropdown {
            &:first-child .menu {height: 50vh !important;}

            > div {
                padding: 1.5em 1em;
                border-bottom: 3px #fff solid;

                span {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.03em;
                    white-space: nowrap;
                }
            }

            &:hover > div {
                border-color: #000;
            }

            li {
                margin-bottom: 1em;
            }

            > div span:last-child {
                padding-bottom: 10px;
                display: none;
            }

            &:hover .menu {
                //height: 50vh;
                //padding: 2em;
            }
        }

        .sub-dropdown {
            > div {
                padding-bottom: 10px;
                border-bottom: 1px solid #e5e7eb;

                span:first-child {
                    font-weight: bold;
                }

                .material-symbols-outlined {
                    display: none;
                }
            }
        }
    }
}