# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

.idea
_psd

*.html
gulpfile.js
package.json
package-lock.json
README.md

svg
scripts
images
fonts
cdn-cgi
-

styles/main.css
styles/main.css.map
styles/vendor.min.css
styles/mschat.css