.spray-form {

    .styled-form-1 {
        background: #183446;
        padding: 15px 15px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .spray-form-field {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .lets-talk {
            width: 100%;
        }

        input {
            border-radius: 5px;
            border: none;
            padding: 8px;
            width: 100%;
        }

        button {
            margin-top: 40px;
            padding: 10px 30px;
            border-radius: 4px;
            border: none;
            background: #ECA426;
            color: #ffffff;
            width: 100%;
        }

        .checkbox {
            margin: 0px;
        }

        .checkbox label {
            color: #ffffff;
        }

        label {
            color: #ffffff;
            padding-bottom: 3px;
        }

        p {
            color: #ffffff;
        }

        span {
            color: #ffffff;
            font-size: large;
            margin-bottom: 3rem;
        }
    }
}
