/* ===== CARDS-CALLOUTS ===== */
.cards-callouts {
    padding: 3rem 0 3.5rem;
    position: relative;
    z-index: 1;
    font: 16px/1.5 $font-default;
    @include media-breakpoint-up(md) {
        padding: 4rem 0 4.5rem;
    }
    @include media-breakpoint-up(xl) {
        padding: 4.5rem 0 5rem;
    }

    &::after {
        @include pseudo;
        position: absolute;
        top: 0;
        right: -16px;
        bottom: 0;
        left: -16px;
        z-index: -1;
        background: white;
        @include media-breakpoint-up(sm) {
            width: 100vw;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.light-gray {
        &::after {background-color: $color-maui;}
    }

    .section-header {
        margin-bottom: 3rem;
        @include media-breakpoint-up(xl) {
            margin-bottom: 4rem;
        }

        small {
            margin-bottom: 8px;
            display: block;
            font-size: 14px;
            line-height: 120%;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .045em;
            color: $color-led-blue;
            @include media-breakpoint-up(xl) {
                margin-bottom: 20px;
                font-size: 16px;
            }
        }

        h1, h2, h3, h4, h5, h6 {margin: 0;}

        h2 {
            text-align: center;
        }

        br {display: none;}
        > p:last-child {margin-bottom: 0;}
    }

    &-grid {
        .generic-grid {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include media-breakpoint-up(md) {
                flex-direction: row;
                //justify-content: center;
            }

            &-item {
                &.quarter-width {
                    @include media-breakpoint-up(md) {
                        width: calc(50% - 12px);
                        flex-basis: calc(50% - 12px);
                        flex-grow: 0;
                    }
                    @include media-breakpoint-up(xl) {
                        width: calc(25% - 18px);
                        flex-basis: calc(25% - 18px);
                    }
                }
                &.half-width {
                    @include media-breakpoint-up(md) {
                        width: 100%;
                        flex-basis: 100%;
                        flex-grow: 0;
                    }
                    @include media-breakpoint-up(lg) {
                        width: calc(50% - 12px);
                        flex-basis: calc(50% - 12px);
                    }
                }
            }
        }

        &.divider {
            border-bottom: 2px dotted rgba(63, 96, 116, .2);
            margin-bottom: 3rem;
            @include media-breakpoint-up(md) {
                padding-bottom: 3rem;
                margin-bottom: 0;
            }
        }

        &.center-content {
            .generic-grid {
                justify-content: center;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            flex: 1;

            > a {
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1;
                text-decoration: none;
                transition: color $effect;
                outline: none;

                &:hover, &:focus {
                    .cards-callouts-grid-item-copy {
                        color: $color-night;
                        &::after {width: 100%;}
                    }
                    .cards-callouts-grid-item-callout-action {
                        color: $color-night;
                    }
                }
            }

            &-image {
                display: block;
                position: relative;

                img {
                    width: 100%;
                    max-width: none;
                    height: 38vw;
                    max-height: 200px;
                    border-radius: 4px 4px 0 0;
                    display: block;
                    position: relative;
                    z-index: 1;
                    object-fit: cover;
                    @include user-select;
                    @include user-drag;
                    @include media-breakpoint-down(xsm) {
                        min-height: 150px;
                    }
                    @include media-breakpoint-up(md) {
                        height: 170px;
                        max-height: none;
                        display: block !important;
                        object-fit: contain;
                    }
                }
            }

            &-title {
                margin: 0 0 10px;
                font-size: 18px;
                line-height: 21px;
                font-weight: 500;
                color: $color-night;
                @include media-breakpoint-up(xl) {
                    font-size: 21px;
                    line-height: 24px;
                }
            }

            &-callout-action {
                a {
                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    line-height: inherit;
                    position: relative;
                }

                i {
                    color: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    font-weight: inherit;
                }
            }

            .tag {
                padding: 3px 5px;
                margin-bottom: 10px;
                display: inline-block;
                font: 800 10px/14px $font-default;
                text-transform: uppercase;
                letter-spacing: .05em;
                color: white;
                background: $spray-blue;
                @include media-breakpoint-up(xl) {
                    padding: 4px 6px;
                    margin-bottom: 14px;
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            &.callout-copy, &.callout-copy-image {
                padding-left: 14px;
                position: relative;

                &::after {
                    @include pseudo;
                    width: 2px;
                    border-left: 2px dotted $spray-dk-blue-gray;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    opacity: .2;
                }

                .generic-grid {
                    flex-direction: row;
                    gap: 24px;
                    @include media-breakpoint-up(md) {
                        @include media-breakpoint-down(lg) {
                            flex-wrap: nowrap;
                        }
                    }

                    &-item {
                        &.flex-cell {
                            align-items: center;

                            &-a {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                @include media-breakpoint-up(md) {
                                    width: calc(50% - 12px);
                                }
                                @include media-breakpoint-up(xl) {
                                    width: calc(50% - 18px);
                                }
                            }

                            &-b {
                                @include media-breakpoint-up(md) {
                                    width: calc(50% - 12px);
                                }
                                @include media-breakpoint-up(xl) {
                                    width: calc(50% - 18px);
                                }
                            }
                        }

                        &.half-width {
                            .cards-callouts-grid-item-image {
                                @include media-breakpoint-up(xl) {
                                    //object-fit: cover;
                                }
                            }
                        }
                    }
                }

                .cards-callouts-grid-item-copy {
                    margin-bottom: 12px;
                    font-size: 14px;
                    line-height: 1.5;
                    color: $spray-dk-blue-gray;
                    transition: color $effect;
                    @include media-breakpoint-up(xl) {
                        font-size: 16px;
                    }

                    p {
                        margin: 0;
                        font-size: inherit !important;
                        line-height: inherit;
                        font-weight: inherit;

                        span {
                            font-size: inherit !important;
                        }
                    }
                }

                .cards-callouts-grid-item-image {
                    width: 100%;
                    max-height: 220px;
                    object-fit: cover;
                    @include media-breakpoint-down(md) {
                        max-height: 240px;
                    }
                    @include media-breakpoint-up(xl) {
                        //object-fit: fill;
                        object-fit: contain;
                    }
                }

                img.cards-callouts-grid-item-image {
                    @include media-breakpoint-down(md) {
                        aspect-ratio: 27/15;
                    }
                }

                .cards-callouts-grid-item-callout-action {
                    margin: 8px 0 0;
                    font-size: 14px;
                    line-height: 1.5;
                    font-weight: 600;
                    transition: color $effect;
                    @include media-breakpoint-up(xl) {
                        margin-top: auto;
                        margin-bottom: 6px;
                        font-size: 16.8px;
                        line-height: 21.6px;
                    }

                    .has-arrow::after {
                        margin-top: 1px;
                        margin-left: 4px;
                    }
                }
            }

            &.callout-with-title-image {
                padding-left: 0;
                border-radius: 4px;
                text-align: left;
                background: $color-white;
                box-shadow: 0 15px 30px -5px rgba($color-night, .1);
                @include media-breakpoint-up(md) {
                    @include media-breakpoint-down(lg) {
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
                @include media-breakpoint-up(xl) {
                    //flex-grow: 1 !important;
                }

                &::after {display: none;}

                > a[data-fancybox="data-fancybox"] {
                    .cards-callouts-grid-item-image {
                        &::before {
                            @include pseudo;
                            width: 70px;
                            height: 46px;
                            margin: auto;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 6;
                            opacity: 1;
                            transition: opacity $effect;
                            background: url("data:image/svg+xml,%3Csvg width='70' height='46' viewBox='0 0 70 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M69.9922 24.2826C69.9727 25.8709 69.917 27.4422 69.825 28.9964C69.7083 30.6393 69.5479 32.3643 69.3438 34.1714C69.1396 35.9786 68.8625 37.5119 68.5125 38.7714C68.1042 40.1952 67.3458 41.4274 66.2375 42.4679C65.1292 43.5083 63.8167 44.2202 62.3 44.6036C60.9583 44.9321 58.7854 45.1923 55.7812 45.3839C52.7771 45.5756 49.7292 45.7262 46.6375 45.8357C43.0208 45.9452 39.1417 46 35 46H31.4125C30.3042 46 29.0354 45.9863 27.6063 45.9589C26.1771 45.9315 24.675 45.8905 23.1 45.8357C23.1186 45.7964 23.137 45.757 23.1553 45.7175C20.1346 45.6087 17.1558 45.4605 14.2188 45.2732C11.2146 45.0815 9.04167 44.8214 7.7 44.4928C6.18333 44.1095 4.87083 43.3976 3.7625 42.3571C2.65417 41.3166 1.89583 40.0845 1.4875 38.6607C1.1375 37.4011 0.860417 35.8678 0.65625 34.0607C0.452083 32.2535 0.291667 30.5285 0.175 28.8857C0.0872763 27.4033 0.0325331 25.9055 0.0107704 24.3922C0.00717995 24.3936 0.00358983 24.395 0 24.3964V23C0 20.9738 0.0583362 18.975 0.175003 17.0036C0.29167 15.3607 0.452088 13.6357 0.656255 11.8286C0.860421 10.0214 1.1375 8.4881 1.4875 7.22857C1.89583 5.80476 2.65416 4.57262 3.7625 3.53214C4.87083 2.49167 6.18333 1.77976 7.7 1.39643C9.04167 1.06786 11.2146 0.807738 14.2188 0.616071C17.2229 0.424405 20.2708 0.27381 23.3625 0.164286C26.9792 0.0547619 30.8583 0 35 0C39.1417 0 43.0208 0.0547619 46.6375 0.164286C49.7292 0.27381 52.7771 0.424405 55.7812 0.616071C58.7854 0.807738 60.9583 1.06786 62.3 1.39643C63.8167 1.77976 65.1292 2.49167 66.2375 3.53214C67.3458 4.57262 68.1042 5.80476 68.5125 7.22857C68.8625 8.4881 69.1396 10.0214 69.3438 11.8286C69.5479 13.6357 69.7083 15.3607 69.825 17.0036C69.9417 18.975 70 20.9738 70 23V24.2857C69.9974 24.2846 69.9948 24.2836 69.9922 24.2826Z' fill='%23004B87'/%3E%3Cpath d='M27.9999 32.7475L46.1999 22.8903L27.9999 13.0332V32.7475Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center center;
                        }
                        &::after {
                            @include pseudo;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 5;
                            background: rgba($color-night, .25);
                            opacity: 1;
                            transition: opacity $effect;
                        }
                    }

                    &:hover, &:focus {
                        .cards-callouts-grid-item-image::after {opacity: 0;}
                    }
                }

                .cards-callouts-grid-item-title {
                    padding: 12px 16px;
                    border-radius: 4px 4px 0 0;
                    color: $light;
                    background: $spray-dk-blue;
                    @include media-breakpoint-up(md) {
                        font-size: 20px;
                        line-height: normal;
                    }

                    & + .cards-callouts-grid-item-image {
                        img {
                            @include media-breakpoint-up(xl) {
                                height: auto;
                                max-height: 100%;
                                border-radius: 0 0 4px 4px;
                            }
                        }
                    }
                }

                .cards-callouts-grid-item-copy {
                    padding: 16px 16px 26px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 500;
                    letter-spacing: 0;
                    color: $color-night;
                    @include media-breakpoint-up(md) {
                        padding: 24px 24px 34px;
                    }

                    &::after {
                        @include pseudo;
                        width: 85px;
                        height: 8px;
                        margin-top: auto;
                        position: relative;
                        top: 10px;
                        background: $color-forest-green;
                        transition: width .5s ease;
                    }

                    p {
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        color: inherit;
                    }
                }
            }

            &.callout-alt, .callout-alt {
                padding-left: 0;
                flex: 1;

                > a {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    color: white;
                    text-decoration: none;

                    &:hover, &:focus {
                        .callout-alt-wrapper {background-color: $color-led-blue;}
                    }
                }

                .callout-alt-wrapper {
                    width: 100%;
                    height: 100%;
                    padding: 16px;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: white;
                    background: $color-navy;
                    transition: background-color $effect;
                    @include media-breakpoint-up(md) {
                        padding: 24px;
                    }
                    @include media-breakpoint-up(xl) {
                        padding: 24px 36px;
                    }

                    h3, .cards-callouts-grid-item-title {
                        margin-bottom: 8px;
                        font-size: 18px;
                        line-height: 21px;
                        font-weight: 500;
                        color: inherit;
                        @include media-breakpoint-up(xl) {
                            margin-bottom: 10px;
                            font-size: 21px;
                            line-height: 24px;
                        }
                    }

                    [class^=icon-], [class*=" icon-"] {
                        font-size: 50px;
                        @include media-breakpoint-up(md) {
                            font-size: 80px;
                        }
                    }

                    .cards-callouts-grid-item-copy {
                        margin-bottom: 8px;
                        font-size: 15px;
                        line-height: 1.3;
                        font-weight: 500;
                        color: inherit;
                        @include media-breakpoint-up(xl) {
                            margin-bottom: 14px;
                        }

                        p:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .cards-callouts-grid-item-callout-action {
                        margin-top: 0;
                        margin-bottom: 0;

                        .button-light-blue {
                            color: $color-navy !important;
                            background: white;
                            box-shadow: none;
                            &:hover, &:focus {
                                background: $color-maui;
                            }
                        }
                    }
                }
            }
        }
    }
}