@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf?od3jx8') format('truetype'), url('../fonts/icomoon.woff?od3jx8') format('woff'), url('../fonts/icomoon.svg?od3jx8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* use !important to prevent issues with browser extensions that change fonts */
    display: inline-block;
    font-family: 'icomoon' !important;
    font-size: inherit;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

.icon-nozzle-off:before {content: "\e900";}
.icon-alert:before {content: "\e901";}
.icon-arrow:before {content: "\e902";}
.icon-bulletin:before {content: "\e903";}
.icon-calendar:before {content: "\e904";}
.icon-cancel:before {content: "\e905";}
.icon-cart:before {content: "\e906";}
.icon-case-study:before {content: "\e907";}
.icon-catalog:before {content: "\e908";}
.icon-chat:before {content: "\e909";}
.icon-checkmark:before {content: "\e90a";}
.icon-circle-minus:before {content: "\e90b";}
.icon-circle-plus:before {content: "\e90c";}
.icon-circle-question-mark:before {content: "\e90d";}
.icon-double-arrow:before {content: "\e90e";}
.icon-download:before {content: "\e90f";}
.icon-enlarge:before {content: "\e910";}
.icon-filter:before {content: "\e911";}
.icon-gear-engineering:before {content: "\e912";}
.icon-invoice:before {content: "\e913";}
.icon-journal-paper:before {content: "\e914";}
.icon-local-expert:before {content: "\e915";}
.icon-menu:before {content: "\e916";}
.icon-minus:before {content: "\e917";}
.icon-nozzle:before {content: "\e918";}
.icon-nozzle-replacement:before {content: "\e919";}
.icon-person:before {content: "\e91a";}
.icon-pin:before {content: "\e91b";}
.icon-plus:before {content: "\e91c";}
.icon-question-mark:before {content: "\e91d";}
.icon-reorder:before {content: "\e91e";}
.icon-return:before {content: "\e91f";}
.icon-search:before {content: "\e920";}
.icon-technical-manual:before {content: "\e921";}
.icon-thumbsup:before {content: "\e922";}
.icon-truck:before {content: "\e923";}
.icon-video:before {content: "\e924";}
.icon-viewdoc:before {content: "\e925";}
//Adding redundancy for Resource consistency; also use for conference paper
.icon-white-paper:before, .icon-conference-paper:before {content: "\e926";}
.icon-drop:before {content: "\e927";}
.icon-expand:before {content: "\e928";}
.icon-play:before {content: "\e929";}
.icon-measure:before {content: "\e92a";}
.icon-vacation:before {content: "\e92b";}
.icon-umbrella:before {content: "\e92c";}
.icon-piggy-bank:before {content: "\e92d";}
.icon-media-center:before {content: "\e92e";}
.icon-events:before {content: "\e92f";}
.icon-blog:before {content: "\e930";}
.icon-trash:before {content: "\e931";}
.icon-contact:before {content: "\e932";}
.icon-cvv:before {content: "\e933";}
.icon-careers:before {content: "\e934";}
.icon-contact-us:before {content: "\e935";}
.icon-upload:before {content: "\e936";}
.icon-checklist:before {content: "\e937";}
.icon-gauge:before {content: "\e938";}
.icon-sliders:before {content: "\e939";}
.icon-full-cone:before {content: "\e93a";}
.icon-ethanol-corn:before {content: "\e93b";}
.icon-usa-with-pencil:before {content: "\e93c";}
.icon-nozzle-spraying:before {content: "\e93d";}
.icon-boots-on-the-ground:before {content: "\e93e";}
.icon-dairy:before {content: "\e93f";}
.icon-beer-factory:before {content: "\e940";}

.image-sustainability {
    width: 31px;
    aspect-ratio: 37/29;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 37 29'%3E%3Cg fill-rule='evenodd' clip-path='url(%23a)' clip-rule='evenodd'%3E%3Cpath fill='%230065A4' d='m21.723 8.049.009-.05 7.68-3.025-7.054 4.043c1.171 1.127 2.542 1.72 4.095 1.822 3.203.211 6.157-1.212 8.133-3.688.375-.469.7-.991.986-1.539.347-.662 1.59-2.894 1.41-3.426-.262-.78-3.92-1.316-4.755-1.43-4.346-.595-9.66.125-10.84 5.231a2.51 2.51 0 0 0-.048.76l-.245.158-.232-.17a2.08 2.08 0 0 0 .062-.54C20.816 1.791 16.564.302 12.885.06c-.708-.046-3.81-.222-4.157.375-.237.407.409 2.455.581 3.059.143.498.323.984.552 1.433 1.208 2.371 3.4 4.043 6.073 4.408 1.296.178 2.524-.08 3.68-.81l-5.126-4.517 5.534 3.603v.04c.417 1.456.37 3 .005 4.74.681-.308 1.519-.313 1.844.086l.045-.012c-.372-1.46-.655-3.01-.193-4.416Z'/%3E%3Cpath fill='%23242F37' d='M28.825 16.105c-.968-1.732-3.31-2.27-4.952-1.396.759-2.101-.852-2.546-2.002-2.232-.576-.709-2.771-.143-2.835 1.133-2.143-1.445-4.235-.72-4.876.925.435.172.868.368 1.298.584.91.456 1.789.986 2.655 1.548l3.194.077c.783.06 1.471.363 1.981.802.711.078 1.408.139 2.074.175l3.463-1.616Z'/%3E%3Cpath fill='%23242F37' d='M0 14.156h6.092l-.281 12.128H0V14.156Zm7.198 11.149.235-10.067 4.533.106c1.913.389 3.811 1.474 5.704 2.727l3.521.082c1.591.133 2.389 1.766.815 2.79-1.256.875-2.883.786-4.549.598-1.15-.083-1.236 1.461-.035 1.494.417.042.873-.044 1.269-.036 2.083.047 3.809-.311 4.898-1.93l.556-1.22 5.298-2.472c2.64-.8 4.439 1.981 2.464 3.84a68.623 68.623 0 0 1-11.822 6.587c-2.93 1.688-5.818 1.561-8.67-.202l-4.217-2.297Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h37v29H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: unset !important;
}