// generic grid
.generic-grid {
    .generic-grid {
        display: flex;
        flex-flow: row wrap;
    }
    &-item {
        width: 100%;
        &.full-width { width: 100%; }
    }
}
@media #{$medium-up} {
    .generic-grid {
        display: flex;
        flex-flow: row wrap;
        &-item {
            &.quarter-width { width: 50%; }
            &.half-width { width: 100%; }
            &.three-quarter-width { width: 50%; }

        }
    }
}
@media #{$xlarge-up} {
    .generic-grid {
        flex-direction: row;
        &-anchor { top: -200px; }
        &-item {
            &.quarter-width { width: 25%; }
            &.half-width { width: 50%; }
            &.three-quarter-width { width: 75%; }
        }
    }
}