.careers {
    &-form {
        padding: 32px 16px;
        border-radius: 8px;
        background: $color-mist;
        @include media-breakpoint-down(sm) {
            width: auto !important;
            border-radius: 0;
            margin-right: -16px;
            margin-left: -16px;
        }
        @include media-breakpoint-up(xl) {
            padding-right: 20px;
            padding-left: 20px;
        }

        h3 {
            margin-bottom: 4rem;
        }
    }

    &-bottom {
        max-width: 640px;
        margin: 40px auto 50px;
        @include media-breakpoint-up(xl) {
            margin-top: 60px;
            margin-bottom: 80px;
        }
    }

    &-bottom-desc-container {
        padding: 4rem 0 2rem;
        @include media-breakpoint-up(xl) {
            padding: 7.5rem 0 3.5rem;
        }
    }

    &-bottom-desc {
        color: $dark;
        font-size: 1.8rem;
        font-weight: 600;
        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 2.4rem;
        }
    }

    &-bottom-header {
        font-size: 2.8rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        @include media-breakpoint-up(md) {
            font-size: 3.4rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 4rem;
        }
    }

    .spray-form {
        padding: 0;

        .file-upload {
            margin: 2.5rem 0;

            label {
                margin-bottom: 0;
                vertical-align: middle;
            }

            i {
                margin-top: -1px;
                font-size: 2.4rem;
                color: $color-night;
                display: inline-block;
                vertical-align: middle;
            }

            a {
                cursor: pointer;
                font-weight: 500;
                color: $color-navy;
                text-decoration: none;
                display: inline-block;
                vertical-align: middle;
                transition: color $effect;

                &:hover, &:focus {
                    color: $color-night;
                    text-decoration: none;
                }
            }
        }

        *[id$="CaptchaValue_wrapper"], .g-recaptcha {
            margin-bottom: 3rem;
            margin-left: -1rem;
            @media screen and (min-width: 375px) { margin-left: 0; }
        }

        &-field {
            margin-bottom: 1em;
            &:last-child {margin-bottom: 0 !important;}
        }

        .validation-errors {
            display: none;
            .validation-message + .validation-message {
                display: none !important;
            }
        }
    }

    &-bottom-form-desc {
        font-size: 1.6rem;
        @include media-breakpoint-up(md) {
            font-size: 1.8rem;
            margin-bottom: 3rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 2rem;
            margin-bottom: 4.5rem;
        }
    }

    .cards-default-container {
        padding: 3rem 0;
        @include media-breakpoint-up(md) {
            padding: 6rem 0;
        }
        @include media-breakpoint-up(xl) {
            padding: 8rem 0;
        }
    }

    .video-feature-container.left {
        @include media-breakpoint-up(md) {
            padding-bottom: 0;
        }
    }

    @include media-breakpoint-up(md) {
        &-form-inner {
            display: flex;
        }
        &-form-item {
            padding-right: 4rem;
            width: 50%;
            &:nth-of-type(2n+2) {
                padding-right: 0;
            }
        }
        &-form-inner .spray-form-field {
            padding-right: 4rem;
            width: 50%;
            &:nth-of-type(2n+2) {padding-right: 0;}
        }
    }

    input[type='file'] {
        display: none;
    }
}