.cards-industries {
    padding-bottom: 4rem;
    font: 16px/1.5 $font-default;
    color: $color-night;
    position: relative;
    z-index: 1;
    background: $color-maui;
    @include media-breakpoint-up(md) {
        padding-bottom: 6rem;
    }
    @include media-breakpoint-up(lg) {
        padding-bottom: 9rem;
    }

    &::after {
        @include pseudo;
        width: 100vw;
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: 50%;
        z-index: -1;
        background-color: $color-maui;
        transform: translateX(-50%);
        @include media-breakpoint-down(sm) {
            right: -16px;
            left: -16px;
            transform: none;
        }
    }

    &.no-gradient {
        background: none;
        &::after {display: none;}
        &.no-gradient {
            padding: 0;
            margin-bottom: 4rem;
            @include media-breakpoint-up(md) {
                margin-bottom: 6rem;
            }
            @include media-breakpoint-up(xl) {
                margin-bottom: 9rem;
            }
        }
    }

    &.standard {
        padding: 4rem 0;
        @include media-breakpoint-up(md) {
            padding: 6rem 0;
        }
        @include media-breakpoint-up(xl) {
            padding: 9rem 0;
        }

        &.no-gradient {
            padding: 0;
            margin: 4rem 0;
            background: none;
            &::after {display: none;}
            @include media-breakpoint-up(md) {
                margin: 6rem 0;
            }
            @include media-breakpoint-up(xl) {
                margin: 9rem 0;
            }
        }
    }

    &-top {
        margin-bottom: 3rem;
        @include media-breakpoint-up(xl) {
            margin-bottom: 41px;
        }

        small {
            margin-bottom: 8px;
            display: block;
            font-size: 14px;
            line-height: 120%;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .05em;
            color: $color-led-blue;
            @include media-breakpoint-up(xl) {
                margin-bottom: 20px;
                font-size: 16px;
            }
        }

        h2 {
            margin: 0;
            font-size: 24px;
            line-height: 28px;
            font-weight: bold;
            letter-spacing: -.0175em;
            color: $color-night;
            @include media-breakpoint-up(md) {
                font-size: 28px;
                line-height: 32.8px;
            }
        }

        br {display: none;}

        > p:last-child {margin-bottom: 0;}
    }

    &-wrapper {
        .homepage & {
            @include media-breakpoint-up(lg) {
                padding-bottom: 8rem;
            }
        }
    }

    &-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 8px;
        @include media-breakpoint-up(md) {
            gap: 24px;
        }

        &.center-content {
            justify-content: center !important;
        }

        &-item {
            width: 100%;
            @include media-breakpoint-up(md) {
                width: calc(50% - 12px);
            }
            @include media-breakpoint-up(lg) {
                width: calc(33.3% - 16px);
            }
            @include media-breakpoint-up(xl) {
                &:not(.three-across-max) {
                    width: calc(25% - 18px);
                }
            }

            .js-toggle {
                height: 58px;
                position: absolute;
                top: -1px;
                right: -1px;
                left: -1px;
                @include media-breakpoint-up(md) {
                    display: none;
                }

                .bar {
                    border-top: 2px solid $dark;
                    position: absolute;
                    right: 0.9rem;
                    top: 1.4rem;
                    transition: all 0.35s ease;
                    width: 12px;
                }

                &-container {
                    width: 100%;
                    height: 56px;
                    position: absolute;
                    display: inline-block;
                    @include media-breakpoint-up(md) {
                        pointer-events: none;
                    }
                }

                .expand-collapse {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 8px;
                    right: 10px;
                    transition: background-color $effect;

                    &::before {
                        width: 18px;
                        height: 18px;
                        margin: auto;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath stroke='%2300ABE5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M14.25 6.75 9 12 3.75 6.75'/%3E%3Cpath stroke='%23242F37' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M14.25 6.75 9 12 3.75 6.75'/%3E%3C/svg%3E") no-repeat center center !important;
                        transition: transform $effect !important;
                    }
                }
            }

            .active .js-toggle {
                .expand-collapse::before {
                    transform: rotate(180deg);
                }
            }

            &-wrapper {
                height: 100%;
                padding: 1px;
                border-radius: 4px;
                position: relative;
                display: flex;
                flex-direction: column;
                text-align: left;
                background: $color-white;
                box-shadow: inset 0 0 0 1px rgba(#3f6073, .15);

                &::before {
                    @include pseudo;
                    height: 5px;
                    border-radius: 4px 4px 0 0;
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 5;
                    background: #255a90;
                    @include media-breakpoint-up(md) {
                        display: block;
                    }
                }

                &.active {
                    .js-toggle {
                        .bar {border-color: $light;}
                        .expand-collapse {
                            background: rgba($color-white, .5);
                            &::before {filter: none;}
                        }
                    }
                }

                &.active &-content {
                    @media #{$xsmall},#{$small} {
                        padding: 2rem;
                    }
                }

                &.active .cards-industries-grid-item-title {
                    display: inline-block;

                    h3:after, span:after {
                        width: 80px;
                        opacity: 1;
                    }
                }
            }

            &-image-container {
                display: block;
                max-height: 175px;
                overflow: hidden;
                position: relative;

                .js-toggle-container ~ & {
                    @include media-breakpoint-down(md) {
                        cursor: not-allowed;
                        pointer-events: none;
                    }
                }

                &:hover, &:active, &:focus {
                    .cards-industries-grid-item-image {
                        transform: scale(1.1, 1.1);
                    }
                }
            }

            &-image {
                width: calc(100% + 2px);
                max-width: none;
                height: 38vw;
                max-height: 200px;
                border-radius: 4px 4px 0 0;
                margin: -1px -1px 0 -1px;
                position: relative;
                object-fit: cover;
                display: none;
                @include user-select;
                @include user-drag;
                @include media-breakpoint-down(xsm) {
                    min-height: 150px;
                }
                @include media-breakpoint-up(md) {
                    height: 172px;
                    max-height: none;
                    display: block !important;
                }

                &.no-overflow-image {
                    display: block;
                }
            }

            &-content {
                padding: 15px;
                font-size: 16px;
                line-height: 150%;
                font-weight: 400;
                letter-spacing: .03em;
                color: $color-night;
                @include media-breakpoint-up(md) {
                    padding: 23px;
                }

                .js-slide {
                    &:not(.cards-industries-grid-item-callout-action) {
                        padding: 20px 15px 0;
                        margin: 0 -15px;
                        @include media-breakpoint-up(md) {
                            padding: 0 23px;
                            margin: 0 -23px;
                        }
                    }
                    &.cards-industries-grid-item-callout-action {
                        &:empty {display: none !important;}
                    }

                    & > *:last-child {margin-bottom: 0;}
                }

                p, ul {
                    font-size: inherit;
                    line-height: inherit;
                    font-weight: inherit;
                }

                ul {
                    font-weight: normal;

                    li {
                        margin-bottom: 0;
                        & + li {margin-top: 8px;}
                    }

                    a {
                        text-decoration: none;
                        transition: color $effect;
                        &:hover {color: $color-night;}
                    }
                }
            }

            &-sub-title {
                height: 20px;
                padding: 3px 15px;
                margin: 23px -15px 16px;
                font-size: 12px !important;
                line-height: 14px !important;
                font-weight: bold !important;
                color: $color-white;
                background: $color-navy;
                @include media-breakpoint-up(md) {
                    padding-right: 23px;
                    padding-left: 23px;
                    margin-right: -23px;
                    margin-bottom: 22px;
                    margin-left: -23px;
                }
            }

            &-copy {
                color: $spray-dk-blue-gray;
                display: none;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.425;
                margin: 0 3rem 0.6rem 2rem;
                opacity: 0.9;

                @media #{$medium-up} {
                    display: block !important;
                    margin: 0 3rem 0.6rem 3rem;
                }

                @media #{$xlarge-up} {
                    font-size: 1.8rem;
                    line-height: 1.333;
                    margin: 0.5rem 4rem 1.6rem 3rem;
                }
            }

            &-title {
                &, h3, > span {
                    width: auto;
                    margin: 0;
                    position: relative;
                    display: inline-block;
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 500;
                    letter-spacing: 0;
                    color: $color-night;
                    cursor: default;
                    @include media-breakpoint-up(md) {
                        margin-bottom: 14px;
                        font-size: 21px;
                        line-height: 26px;
                    }
                }
            }

            &-copy {
                color: $spray-dk-blue-gray;
                display: none;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.425;
                margin: 0 0 0.6rem 0;
                opacity: 0.9;

                @media #{$medium-up} {
                    display: block !important;
                    margin: 0 0 0.6rem 0;
                }

                @media #{$large} {
                    font-size: 1.6rem;
                    line-height: 1.4;
                }

                @media #{$xlarge-up} {
                    font-size: 1.8rem;
                    line-height: 1.333;
                    margin: 0.5rem 0 1.6rem 0;
                }
            }

            &-callout-action {
                display: none;

                @media #{$medium-up} {
                    display: block !important;
                }

                a {
                    color: $link-color;
                    font-weight: 600;
                    line-height: 1;
                    margin: 1.5rem 0 3rem;
                    position: relative;

                    @media #{$medium-up} {
                        font-size: 1.6rem;
                    }
                }

                i {
                    color: $link-color;
                    font-weight: 600;
                    line-height: 1;
                }
            }

            hr.js-slide {
                background: none;
                border-top: 2px dotted $lighter-gray;
                display: none;
                left: 0;
                margin-top: auto;
                position: relative;
                right: 0;
                width: 100%;

                @media #{$medium-up} {
                    display: block !important;
                }
            }

            p.js-slide, ul.js-slide, div.js-slide {
                display: none;
                font-size: 1.6rem;

                @media #{$medium-up} {
                    display: block !important;
                }
            }

            &-case-study {
                display: none;

                @media #{$medium-up} {
                    display: block !important;
                }

                &-flex {
                    display: flex;
                    -webkit-transition: all 0.8s ease;
                    transition: all 0.8s ease;
                }

                &-amount {
                    font-family: $site-font-secondary;
                    font-size: 4rem;
                    font-weight: 900;
                    line-height: 0.8;
                    text-transform: uppercase;
                    display: block;
                    color: $spray-dk-blue-gray;
                }

                &-copy {
                    padding-left: 1.5rem;
                    display: block;

                    p,
                    &-text {
                        display: block;
                        color: $spray-dk-blue-gray;
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 1.285;
                        margin: 0 0 0.6rem;
                        opacity: 0.9;

                        @media #{$xlarge-up} {
                            font-size: 1.6rem;
                            line-height: 1.125;
                        }
                    }

                    a {
                        color: $link-color;
                        display: block;
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 1.25;

                        @media #{$xlarge-up} {
                            font-size: 1.6rem;
                        }
                    }
                }
            }

            &-case-study-flex-anchor {
                display: block;
                padding: 1.5rem 2rem 2rem;
                text-decoration: none;
            }

            &-case-study-flex-anchor:hover,
            &-case-study-flex-anchor:focus {
                text-decoration: none;
                box-shadow: inset 0 0 5px 0 rgba(50, 50, 50, 0.75);
                display: block;
            }

            &-case-study-flex-anchor-tag {
                text-decoration: none;
            }

            &-case-study-flex-anchor-tag:hover,
            &-case-study-flex-anchor-tag:focus {
                text-decoration: none;
            }
        }

        &-callout {
            margin: 2rem auto 0;
            text-align: center;
            width: 100%;

            @media #{$medium-up} {
                margin: 0 auto;
            }

            .homepage & {
                @media #{$medium-up} {
                    margin: 1rem auto 0;
                }
            }

            .button-light-blue {
                @extend %button-base;
                background-color: $spray-ltr-blue;
                box-shadow: 0 9px 11px -5px rgba(63, 96, 116, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.15);
                color: $light !important;
                cursor: pointer;
                font-family: $site-font-secondary;
                font-size: 1.8rem;
                font-weight: 800;
                letter-spacing: 0.1rem;
                margin: auto;
                padding: 1.2rem 2rem;
                text-transform: uppercase;
                width: auto;

                &:hover, &:focus {
                    background-color: darken($spray-ltr-blue, 10%);
                    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.35), inset 0 -3px 0 rgba(0, 0, 0, 0.15);
                    color: $light;
                }

                &:active {
                    background-color: darken($spray-ltr-blue, 10%);
                    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
                    color: $light;
                }

                @media #{$medium-up} {
                    font-size: 2rem;
                }

                @media #{$xlarge-up} {
                    bottom: 0;
                }
            }
        }
    }

    &-bottom {
        padding: 2rem;

        @media #{$medium-up} {
            padding: 0 4rem;
        }

        @media (min-width: 1024px) {
            max-width: 1620px;
        }

        @media (min-width: 1201px) {
            padding: 0 10rem;
        }

        @media (min-width: 1441px) {
            padding: 0 12rem;
        }
    }

    &.top-pad {
        padding-bottom: 0;
        padding-top: 2rem;
    }

    &.cards-industries-homepage {
        padding-bottom: 0 !important;
    }

    .main-title {
        font-size: 1.5rem;
        padding-top: 2.5rem;
        margin: 0 2rem 2rem;
        color: $light;

        @media #{$medium-up} {
            color: $spray-dkr-blue;
            font-size: 2.9rem;
        }
    }

    .section-header {
        text-align: center;
        padding-bottom: 3rem;

        @media #{ $large-up } {
            padding-bottom: 4rem;
        }
    }
}

/*
@media #{$large-up} {
    .no-odd-rows {
        .cards-industries-grid-item {
            width: 50% !important;
        }
    }
}
@media screen and (min-width: 1260px) {
    .no-odd-rows {
        .cards-industries-grid-item {
            width: 25% !important;
        }
    }
}
 */

/* resource card mods */
.no-hover-zoom {
    .cards-industries-grid-item-image {
        transform: scale(1) !important;
    }
}

.no-collapse {
    .cards-industries-grid-item {
        &-copy, &-callout-action {
            display: block !important;
        }

        &-image {
            display: block !important;
            margin: auto;

            &-container {
                background-image: linear-gradient(to bottom, #212323, #0064a2);
                max-height: 100%;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    padding-top: (19 / 37) * 100%;
                    width: 100%;
                }

                > .cards-industries-grid-item-image, > i {
                    @include position(absolute, 0 0 0 0);
                }
            }
        }
    }
}

.doc-cover-image {
    .cards-industries-grid-item-image {
        margin: 0 auto;
        max-height: 100%;
        width: auto;
    }
}

.no-image {
    .cards-industries-grid-item-image {
        margin: 0 auto;

        &-container {
            i {
                align-items: center;
                color: rgba(255, 255, 255, .5);
                display: flex;
                font-size: 12rem;
                justify-content: center;
            }
        }
    }
}

.is-video {
    .cards-industries-grid-item-image {
        &-container {
            .button-play {
                @include position(absolute, 50% 50% null null);
                @include size(66px);
                margin-right: -33px;
                margin-top: -33px;
            }
        }
    }
}

.resource-card-asset-type {
    align-items: center;
    border-top: 2px dotted $lighter-gray;
    display: flex;
    margin-top: auto;
    padding: 1rem 1.5rem;

    @media #{$medium-up} {
        padding: 1.5rem 2.5rem;
    }

    i {
        color: $spray-gray;
        font-size: 3rem;
    }

    span {
        color: $spray-dk-blue-gray;
        font-size: 1.4rem;
        padding-left: 0.25rem;
    }
}

.card-grid-hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    &.card-grid-open {
        display: block; //Fix small screen display
        visibility: visible;
        opacity: 1;
    }
}