/* ===== CARDS-DEFAULT ===== */
.cards-default {
    &-container {
        margin: 4rem 0;
        position: relative;
        z-index: 1;
        @include media-breakpoint-up(md) {
            margin: 5rem 0;
        }
        @include media-breakpoint-up(xl) {
            margin: 8rem 0;
        }

        &-homepage {
            margin: 0;
            padding: 4rem 0;
            @include media-breakpoint-up(md) {
                padding: 5rem 0;
            }
            @include media-breakpoint-up(xl) {
                padding: 8rem 0;
            }

            &::after {
                @include pseudo;
                width: 100vw;
                position: absolute;
                top: 0;
                right: auto;
                bottom: 0;
                left: 50%;
                z-index: -1;
                background-color: $color-maui;
                transform: translateX(-50%);
                @include media-breakpoint-down(sm) {
                    right: -16px;
                    left: -16px;
                    transform: none;
                }
            }
        }

        .section-header {
            text-align: center;
            margin-bottom: 2rem;
            @include media-breakpoint-up(md) {
                margin-bottom: 4rem;
            }
            p:last-child {margin-bottom: 0;}
        }
    }

    &-wrapper {
        max-width: 1442px;
        margin: auto;
    }

    &-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 24px;
        @include media-breakpoint-up(md) {
            padding: 0;
        }

        &-item {
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            &:last-of-type {margin-bottom: 0;}
            @include media-breakpoint-up(md) {
                width: calc(50% - 12px);
                max-width: 328px;
                margin: 0;
            }
            @include media-breakpoint-up(lg) {
                width: calc(33.3% - 16px);
            }

            > a {
                height: 100%;
                display: block;
                position: relative;
                &:hover, &:focus {
                    text-decoration: none;
                    .cards-default-grid-item-callout-action {
                        color: $color-night;
                    }
                }
            }

            &-wrapper {
                height: auto !important;
                padding: 2rem 3rem 2.5rem;
                //border-top: 6px solid $spray-red-orange;
                border-radius: 4px;
                position: relative;
                text-align: center;
                background-color: white;
                box-shadow: 0 10px 20px -5px rgba(63, 96, 116, 0.15), inset 0 0 0 1px rgba(63, 96, 115, 0.15);
                @include media-breakpoint-up(md) {
                    min-height: 100%;
                    box-shadow: 0 20px 50px -5px rgba(63, 96, 116, 0.15), inset 0 0 0 1px rgba(63, 96, 115, 0.15);
                }
                @include media-breakpoint-up(md) {
                    padding: 3rem;
                }

                &::before {
                    @include pseudo;
                    height: 5px;
                    border-radius: 2px 2px 0 0;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 5;
                    background: $color-green;
                    @include media-breakpoint-up(md) {
                        display: block;
                    }
                }

                &.left {
                    text-align: left;
                }

                & > div[sc_item] > i, // icon wrapped in Edit Frame in Experience Editor
                & > i,
                & > a > i {
                    color: $spray-blue;
                    font-size: 6.5rem;
                    margin-bottom: 1rem;
                    @include media-breakpoint-up(lg) {
                        font-size: 7rem;
                        margin-bottom: 2rem;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 8.2rem;
                    }
                }
            }

            &-title {
                margin-bottom: 1rem;
            }

            &-copy {
                font-size: 14px;
                line-height: 1.5;
                color: $spray-dk-blue-gray;

                p:last-child {margin-bottom: 0;}
            }

            &-callout-action {
                margin-top: 1rem;
                align-items: center;
                display: flex;
                justify-content: center;
                font-size: 14px;
                font-weight: 500;
                color: $color-navy;
                transition: color $effect;

                a {
                    color: inherit;
                }

                i {
                    padding-left: 0.5rem;
                    color: inherit;
                    line-height: 1;
                }
            }

            &-wrapper.left .cards-default-grid-item-callout-action {
                justify-content: flex-start;
            }

            &.with-product {
                @include media-breakpoint-up(md) {
                    margin-bottom: 4rem;
                }
            }
        }
    }
}

/* ===== CARDS-PRODUCT ===== */
.cards-product-grid {
    .cards-default-grid-item-wrapper {
        height: auto;
    }

    .product-spotlight {
        background-color: $light;
        padding-bottom: 1rem;
        box-shadow: 0 10px 20px -5px rgba(63, 96, 116, 0.15), inset 0 0 0 1px rgba(63, 96, 115, 0.15);
        @include media-breakpoint-up(md) {
            box-shadow: 0 20px 50px -5px rgba(63, 96, 116, 0.15), inset 0 0 0 1px rgba(63, 96, 115, 0.15);
        }

        &-title {
            background: $spray-red-orange;
            color: $light;
            font-family: $site-font-secondary;
            font-size: 1.6rem;
            font-weight: 800;
            margin: 0;
            max-width: 100%;
            padding: 0.4rem 2rem;
            width: 100%;
            @include media-breakpoint-up(lg) {
                padding: 0.4rem 4rem;
                font-size: 1.7rem;
            }
        }

        &-grid {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 2rem 2rem 0;
            width: 100%;
            max-width: 550px;

            @include media-breakpoint-up(lg) {
                padding: 2rem 3rem 0;
            }

            &-image {
                text-align: center;
                padding-right: 1rem;
                width: 30%;
                max-width: 150px;
                @include media-breakpoint-up(md) {
                    width: 40%;
                }
                @include media-breakpoint-up(lg) {
                    padding-right: 2rem;
                }
            }

            &-copy {
                width: 70%;
                @include media-breakpoint-up(md) {
                    width: 60%;
                }

                &-title {
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin: 0 0 1rem;
                    @include media-breakpoint-up(lg) {
                        font-size: 1.8rem;
                    }
                }

                &-action {
                    a {
                        color: $link-color;
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 1.285;
                        position: relative;
                        @include media-breakpoint-up(lg) {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}
