/* ===== WYSIWYG ===== */
.wysiwyg-content {
    padding: 3rem 0;
    position: relative;
    @include media-breakpoint-up(md) {
        padding: 4rem 0;
    }

    &::after {
        @include pseudo;
        position: absolute;
        top: 0;
        right: -16px;
        bottom: 0;
        left: -16px;
        z-index: -1;
        background: white;
        @include media-breakpoint-up(sm) {
            width: 100vw;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    & + .wysiwyg-script {
        margin: 4rem 0;
        @include media-breakpoint-up(md) {
            margin: 5rem 0;
        }
        @include media-breakpoint-up(xl) {
            margin: 6rem 0;
        }
    }

    &-wrapper {
        @include media-breakpoint-up(xl) {
            max-width: 1400px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.wysiwyg-script {
    .wysiwyg-script-wrapper {
        .article-script {
            .emptyContainer {
                @include media-breakpoint-down(md) {
                    padding: 0 !important;
                }
            }
        }
    }
}