/* ===== WYSIWYG ===== */
.wysiwyg-content {
    margin: 4rem 0;
    @include media-breakpoint-up(md) {
        margin: 5rem 0;
    }
    @include media-breakpoint-up(xl) {
        margin: 8rem 0;
    }
}