<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- styles have cache busting in place. Set a far-future expires header (1 year) so these can be properly cached in the browser. -->
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>